.formLogin {
  max-width: 70vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.heading {
  color: var(--purple);
  text-align: center;
  font-family: Epilogue;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}

.inputLogin {
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 0.5px solid var(--purple);
  color: var(--purple);
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.btnLogin {
  color: white;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  background: var(--yellow);
  text-align: center;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.backgroundLogin {
  height: 50vh;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tomato {
  width: 50%;
  height: 50%;
}

.logoApp {
  width: 50%;
  height: 50%;
}