.backgroundLogin {
  align-items: center;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 50vh;
}

.logoApp {
  height: 50%;
  margin-top: 3rem;
  width: 100%;
}

.tomato {
  height: 100%;
  margin-top: -5rem;
  width: 100%;
}

.formLogin {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  margin: auto;
  margin-top: 6rem;
  width: 17.25rem;
}

.formLogin:focus-within {
  margin-top: 5rem;

}

.heading {
  color: var(--purple);
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.2rem;
  line-height: normal;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.inputLogin {
  border: 0.5px solid var(--purple);
  border-radius: 5px;
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: 300;
  height: 2.5rem;
  padding-left: 0.825rem;
  width: 100%;
}

.inputLogin:focus {
  border: 0.5px solid var(--yellow);
  outline: 1px solid var(--yellow);
}

.btnLogin {
  background: var(--yellow);
  border-radius: 5px;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.42px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.btnLogin:disabled {
  background-color: gray;
  color: var(--dark-gray);
  cursor: not-allowed;
}

.btnLogin:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btnLogin:hover:disabled {
  cursor: not-allowed;
}


@media screen and ( min-width : 820px ) {

  .formLogin {
    margin-top: 12rem;
  }

  .formLogin:focus-within {
    margin-top: 7rem;
  }
}

@media screen and ( min-width : 1280px ) {

  .formLogin {
    margin-top: 8rem;
  }

  .formLogin:focus-within {
    margin-top: 8rem;
  }
}
