.done_recipes_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.filters_container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.filter_btn {
  align-items: center;
  color: var(--filter-button);
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: 300;
  gap: 0.5rem;
  line-height: normal;
  text-align: center;
}

.filter_btn img {
  width: 4rem;
}

.selected_filter {
  color: var(--purple);
}
