.page_title {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1)  infinite;
  transition: opacity 0.5s ease-in-out;
}

@keyframes pulse {

  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
