.recipe_container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.category_container {
  align-items: center;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  padding: 1.5rem 1rem;
  position: absolute;
  width: 100%;
}

.category_name {
  color: var(--yellow);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
}


.recipe_container img {
  height: 10.12rem;
  width: 100%;
}

.carousel {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  width: 21rem;
}

.card {
  position: relative;
}

.card img {
  height: 8.43rem;
  width: 10.18rem;
}


.start_recipe_button {
  background: var(--yellow);
  border-radius: 0.3rem;
  bottom: 0;
  color: var(--white);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02rem;
  padding: 0.94rem 4rem;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
}
