.favorite_card_container {
  border: 0.518px solid var(--border-color);
  border-radius: 0.312rem;
  display: flex;
  position: relative;
  width: 20rem;
}

.img_btn img {
  border-radius: 0.312rem 0 0 0.312rem;
  height: 8rem;
  width: 10rem;
}

.card_info_container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 0.56rem;
  height: 8rem;
  padding: 1rem;
}

.card_header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 8rem;
}


.card_info {
  display: flex;
  flex-direction: column;
}

.card_info h2 {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 700;
  padding-top: 0.2rem;
}

.card_info p {
  color: var(--filter-button);
  font-size: 0.65rem;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

.actions_contaiener {
  display: flex;
  gap: 0.5rem;
}
