:root {
  --yellow: #fcc436;
  --purple: #41197f;
  --border-color: #b1b1b1;
  --white: #ffffff;
  --button-hover: #e0ab25;
  --text-color: #1a1b1c;
  --filter-button: #797d86;
  --tag-bg: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: transparent;
  font-family: 'Epilogue', sans-serif;
  accent-color: var(--yellow);
}

body {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 3rem;
}
